.result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.artwork-container {
    max-width: 100px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.artwork {
    width:100%;
    height: auto;
}

h3 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid;
}

h4 {
    font-size: 1.25rem;
    padding: 0;
    margin: 0px;
}

.text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.sub-text {
    display: flex;
}

.audio-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 10px black;
    border: none;
    filter: drop-shadow(0px 0px 1px black);
}