.result {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2px;
    align-items: flex-start;
    max-height: 125px;
    overflow: hidden;
}

.artwork-container {
    max-width: 125px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.artwork {
    width:100%;
    height: auto;
}

h3 {
    font-size: 1.35rem;
    padding: 0;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid;
}

h4 {
    font-size: 1rem;
    padding: 0;
    margin: 0px;
}

.text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: left;
}

.sub-text {
    display: flex;
}

.audio-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 10px black;
    border: none;
    filter: drop-shadow(0px 0px 1px black);
}

.playlist-button {
    min-width: 50px;
    font-size: 2rem;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 125px;
}

.red {
    background-color: red;
}

.green {
    background-color: #90EE90;
}

.results-container {
    overflow: auto;
    max-height: 80vh;
}

.results-container::-webkit-scrollbar {
    width: 12px;
}

.results-container::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1.5px solid #7e7e7e;
    border-radius: 8px;
}

.results-container::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border: 2px solid #616161;
    border-radius: 8px;
}

@media screen and (min-width: 560px) {
    #search-results, #playlist { 
        min-width: 550px;
    }

    .text { 
        max-width: 400px;
    }
}
